.principal {
  display: grid;
  margin-top: 10vh !important;
  width: 90vw;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(232, 224, 224, 1);
  -moz-box-shadow: 0px 0px 14px 1px rgba(232, 224, 224, 1);
  box-shadow: 0px 0px 14px 1px rgba(232, 224, 224, 1);
}

.principal h1 {
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
}

.section {
  margin-bottom: 8vh;
  border-radius: 2px;
  padding-bottom: 30px;
}

.informacion {
  height: 40vh;
  display: grid;
  grid-template-areas:
    'titulo .'
    'tabla1 tabla2';
}

.informacion h1 {
  grid-area: titulo;
  grid-column: 1 / span 2;
}

.tabla1 {
  grid-area: tabla1;
  justify-self: center;
}
.tabla2 {
  grid-area: tabla2;
  margin-left: 20%;
}

.dato {
  color: #007bff;
}

.datos {
  text-align: center;
  padding: 30px;
}

.datos h2 {
  margin-bottom: 3vh;
}

.datos p {
  text-align: left;
}

.frame {
  display: grid;
  text-align: center;
  height: calc(450px + 20vh);
  padding: 3vh;
}

.boton_conatiner {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 150px) {
  .tabla1 {
    height: 30vh;
    font-size: revert;
  }
  .tabla2 {
    height: 30vh;
    margin: 0;
  }
  .iframe {
    width: 80vw;
    height: 450px;
  }
  .informacion {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 150px) and (orientation: landscape) {
  .frame {
    justify-content: center;
  }
}

@media screen and (min-width: 700px) {
  .informacion {
    justify-content: normal;
  }
  .frame {
    justify-content: center;
  }
  .iframe {
    width: 60vw;
    height: 450px;
  }
}
@media screen and (min-width: 700px) and (orientation: landscape) {
  .informacion {
    justify-content: normal;
  }
  .iframe {
    width: 80vw;
    height: 450px;
  }
}

@media screen and (min-width: 1020px) {
  .informacion {
    justify-content: normal;
  }
  .frame {
    justify-content: center;
  }
  .iframe {
    height: 450px;
    width: 50vw;
  }
}
